@model IEnumerable<WebUI.ViewModels.ProductVM>

@{
    ViewBag.Title = "Product Category";
}

<h2>@ViewBag.CategoryName</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>

        <th>
            Image
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>

            <td>
                <a href="/shop/productdetails/@item.Slug">
                    <img src="/Images/Uploads/Products/@item.Id/Thumbnails/@item.ImageName" />
                </a>
            </td>
            <td>
                <a href="/shop/productdetails/@item.Slug">Product Details</a>
            </td>
        </tr>
    }

</table>
